.card_label_container{
  position: absolute;
  bottom: 5em;
  right: 0;
}

.label_content{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;


  background-color: #0d0d0df9;
  color: white;

  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-transform: capitalize;

  height: 2em;
  padding: 0 1.5em;
}



